.chat-header {
    text-align: center;
    background-color: white;
    margin-bottom: 0;
    color: lightgrey;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    word-break: break-all;
}

.container span {
    font-size: 13px;
}
/* Darker chat container */
.darker {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white;
}

.darker span {
    color: lightskyblue;
}
/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.username-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.username-left {
    float: left;
    color: #999;
}

/* file */
#cancel-file-btn {
    display: none;
    width: 7px;
    height: 7px;
    margin: 0 5px 0 10px;
    cursor: pointer;
}

#file-control {
    background-color: #f1f1f4;
    color: lightgrey;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
