html, body {
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

* {
    margin: 0;
}

body {
    display: flex;
}
#user-list {

}

#videoDiv {
    display: grid;
    grid-gap: 10px;
    /*height: 80%;*/
    position: relative;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;

    height: 300px;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex: 1;
    border-bottom: 1px solid grey;
    margin-top: 10px;
}

button {
    /*
    height: 30px;
    width: 80px;
    */

    /*
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: red;
    */
    cursor: pointer;
}

#videoDiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
}

#chat-panel {
    display: none;
    right: 0;
    width: 300px;
    /*background-color: grey;*/
    /*position: absolute;*/
    height: 100%;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-top: 0;

    z-index: 1;
}

#call-window {
    display: flex;
    width: 100%;
    /*width: auto;*/
    height: 100%;
    /*justify-content: right;*/
    flex-direction: column;
    overflow: hidden;
}

#control-panel{
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#control-panel:hover{
    opacity: 1;
}

.disabled-control-panel {
    position: absolute;
    bottom: 20px;
    opacity: 0;
}

.active-control-panel {
    opacity: 1;
    position: relative;
    bottom: 0;
}

#control-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#control-panel button{
    margin: 0 10px;
}

#vid-panel{
    width: 100%;
    height: 300px;
    bottom: 0px;

    flex-grow: 1;
}

#work-block{
    float: right;
    right: 0;
    display: flex;
    position: relative;
}

#chat-btn{
    position: absolute;
    left: -80px;
    margin-left: 40px;
    margin-top: 40px;
    width: 75px;
    height: 75px;
    text-align: left;
    font-size: 24px;
}

#vid-main-block {
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    flex-grow: 0;
    border-bottom: 1px solid lightgrey;
}

#vid-pad{
    /*height: 100%;*/
    height: 0;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-content: center;
    object-fit: cover;
}

#vid-main{
    /*width: 100%;*/
    overflow: hidden;
    height: 100%;
    /*object-fit: cover;*/
    object-fit: contain;
    border: 2px solid white;
}

#form { /*background: rgba(0, 0, 0, 0.15);*/ padding: 0.25rem; /*position: fixed;*/ width: 100%; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem 0 0 2rem; background-color: #f1f1f4/*margin: 0.25rem;*/ }
#input:focus { outline: none; }
/*
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
*/

#messages { list-style-type: none; margin: 0; padding: 0; flex-grow: 1; height: 100%; margin: 0 5px; }
#messages > li { padding: 0.5rem 1rem; }
/*#messages > li:nth-child(odd) { background: #efefef; }*/

#chat-div {
}
/*
#chat-div::-webkit-scrollbar {
    width: 1em;
}

#chat-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#chat-div::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: 1px solid slategrey;
}
*/

::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    /*border: solid #fff;*/
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:horizontal {
    border-width: 4px 6px;
    min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
    border-width: 6px 4px;
    min-height: 40px;
}

::-webkit-scrollbar-track-piece {
    /*background-color: #fff;*/
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

#file-upload-ico {
    width: 20px;
    cursor: pointer;
}

#file-upload-div {
    display: flex;
    align-items: center;
}
#file-upload-div label {
    /*background-color: #0d6efd;*/
    background-color: #f1f1f4;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f1e5e6;

    /*max-width: 80%;*/
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    /*display: inline-block;*/
    overflow: hidden;
    /*padding: 0.625rem 1.25rem;*/
}

.user-vid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    /* margin-left: 200px; */
    bottom: 0;
    border-radius: 30px;
}

.control-video {
    position: absolute;
    /* margin-bottom: 20px; */
    width: 300px;
    z-index: 1;
    bottom: 20px;
    display: flex;
    justify-content: center;
}
