<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta charset="utf-8" />
    <!--
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    -->
    <style media="screen"></style>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/global_vars.js" charset="utf-8" defer></script>
    <script src="../js/index.js" charset="utf-8" defer></script>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--
    <script src="http://localhost:4000/socket.io/socket.io.js" defer></script>

    <script src="http://localhost:4000/index.js" charset="utf-8" defer></script>

-->
    <script src="http://192.168.100.6:4000/socket.io/socket.io.js" defer>
    </script>

    <script src="http://192.168.100.6:4000/index.js" charset="utf-8" defer>
    </script>

    <script src="../public/chat.js" charset="utf-8" defer>
    </script>
    <script src="../js/client.js" charset="utf-8" defer></script>

    <script src="../render.js" defer></script>

</head>
<body style="background: white;" onload="loadBody()">
<div id="call-window">

    <div id="vid-main-block">
        <div id="vid-pad">
            <video id="vid-main"></video>
        </div>

        <div id="control-panel">
            <div id="control-buttons">
                <button id="video-stream-control">
                    Video
                </button>

                <button id="audio-stream-control">
                    Audio
                </button>

                <button id="screen-stream">
                    start
                </button>

                <button id="screen-select">
                    Screen
                </button>

                <button id="screen-cancel-select">
                    Screen
                </button>

                <button id="screen-stop">
                    stop
                </button>
            </div>
        </div>

    </div>

    <div id="vid-panel">
        <div id="videoDiv"></div>
    </div>
</div>

<div id="work-block">
    <button id="chat-btn" type="button" onclick="openForm()"><</button>

    <div id="chat-panel">
        <ul id="messages"></ul>

        <form id="form" action="">
            <input id="input" autocomplete="off" /><button id="send-btn">Send</button>
        </form>
        <input id="select-file-input" type="file">
    </div>

</div>



<template id="user-video-template">
    <div class="user-vid">
        <!--<video></video>-->
        <div class="control-video">
            <img onclick="changeAudioState(this)" src="../img/icons/micro_on.svg" alt="on" style="height: 40px;">
        </div>
    </div>
</template>

</body>
</html>

